<!DOCTYPE html>
{%extends 'base.html'%}
{%block open%}
<style>
    h1{
        color: blue;
        margin-top: 100px;
    }
    body{
        background: lightyellow;
    }
    #jumbo{
        background: lightyellow;
    }

</style>
<div class="container" align="center">
    <div class="jumbotron" id="jumbo">

<h1>THANK YOU FOR VISITING OUR WEBSITE</h1>
<p>WE HOPE YOU ENJOYED OUR SERVICES</p>

        </br>
        <a class="btn btn-primary" href="/accounts/login/" role="button">Login</a>

    </div>
    </div>



{%endblock open%}