<!DOCTYPE html>
{%extends 'base.html'%}
<html>
<head>
    <title>post your job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
{%block open%}
<div class="container" align="center">
    <div class="jumbotron">
<h1>Post Your Job According To Your Location</h1>
        <br>
        <br>
        <br>


<a class="btn btn-primary" href="posthydjob" role="button">Job In Hyderabad</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class="btn btn-primary" href="postchennaijob" role="button">Job In Chennai</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class="btn btn-primary" href="postpunejob" role="button">Job In Pune</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class="btn btn-primary" href="postbanglorejob" role="button">Job in Banglore</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
</div>

{%endblock open%}

</body>
</html>